<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Budget</title>
  </head>
  <body>
    <div>
      <ul class="nav nav-tabs nav-justified">
          <li class="tab-active nav-tabs"><a href="/">Garden</a></li>
          <li class="nav-tabs"><a href="/social">Social</a></li>
          <li class="nav-tabs"><a href="/budget">Budget</a></li>
      </ul>
    </div>
    
    <div class="container" id="budget">
      <ul id ="items">
        <p></p>
        <p>*Use the sliders to control the amount of money you want to set as your budget for each category. To add a new category, fill in the form at the bottom. If you want to delete a category, use the remove button.</p>
        <li class="budg-item" id="defaultItems"> Weekly Budget <span id="itemName"></span>
          <input type="range" class="slider" min="0" max="250" value="0" step="5" oninput="showValue(1,this.value)" />
          <span id="range1"><!-- Updated value -->0</span>
        </li>

        <li class="budg-item"> Groceries <span class="delete"><button>Remove</button></span>
          <input type="range" class="slider" min="0" max="50" value="0" step="10" oninput="showValue(2, this.value)" />
          <span id="range2">0</span>
        </li>

        <li class="budg-item"> Fast Food <span class="delete"><button>Remove</button></span>
          <input type="range" class="slider" min="0" max="50" value="0" step="10" oninput="showValue(3,this.value)" />
          <span id="range3">0</span>
        </li>

        <li class="budg-item"> Entertainment <span class="delete"><button>Remove</button></span>
          <input type="range" class="slider" min="0" max="50" value="0" step="10" oninput="showValue(4,this.value)" />
          <span id="range4">0</span>
        </li>

        <form id="catform" method="post">
        Category Name: <input type="text" id="cname" required>
        <button><a href="#" id="new-cat">Add Category</a></button> 
        </form>
      </ul>
    </div>  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript.js"></script>
  </body>
</html>


