<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Budge Me: Home</title>
  </head>
  <body>

    <ul class="nav nav-tabs nav-justified">
      <li class="tab-active nav-tabs" id="homePage"><a style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd" href="/home">Garden</a></li>
      <li class="nav-tabs" id="socialPage"><a style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd" href="/social">Social</a></li>
      <li class="nav-tabs" id="budgetPage" ><a style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd" href="/budget">Budget</a></li>
    </ul>

    <div>
      <h1 id="garden-name">Simpson's Garden</h1>
      <div id="garden-img">
        <img src="/images/emptyGarden.jpg" id="empty-garden"/>
      </div>
      <h2> <a href="/social"><font color="#6699cc">Check out the Social page to use items for your garden!</font></a></h2>
    </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/javascript.js"></script>
  </body>
</html>