<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Budge Me: Home</title>
  </head>
  <body>

    <ul class="nav nav-tabs nav-justified">
      <li class="tab-active nav-tabs"><a href="/">Garden</a></li>
      <li class="nav-tabs"><a href="/social">Social</a></li>
      <li class="nav-tabs"><a href="/budget">Budget</a></li>
      <li class="nav-tabs"><a href="/settings">Settings</a></li>
    </ul>
    <div>
      <h1 id="garden-name">Simpson's Garden</h1>
      <div id="garden-img">
        <img src="/images/emptyGarden.jpg" id="empty-garden"/>
      </div>
      <h2> Check out the Social page to use items for your garden! </h2>
    </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/javascript.js"></script>
  </body>
</html>