<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Budge Me</title>
  </head>
  <body>

    <ul class="nav nav-tabs nav-justified">
      <li class="tab-active nav-tabs" id="homePage"><a style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd" href="/home">Garden</a></li>
      <li class="nav-tabs" id="socialPage"><a style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd" href="/social">Social</a></li>
      <li class="nav-tabs" id="budgetPage" ><a style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd" href="/budget">Budget</a></li>
    </ul>

    <div>
      <h1 id="garden-name">Team Garden</h1>
      <h2> <a href="/social"><font color="#6699cc">Check out the Social page to use items for your garden!</font></a></h2>
      <div id="garden-img">
        <img src="/images/emptyGarden.jpg" id="empty-garden"/>
      </div>
      
    </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/javascript.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87876707-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>