<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="css/Stylesheet.css"/>
    <title>Settings</title>
  </head>
  <body>

    <ul class="nav nav-tabs nav-justified">
      <li class="tab-active nav-tabs"><a href="/">Garden</a></li>
      <li class="nav-tabs"><a href="/social">Social</a></li>
      <li class="nav-tabs"><a href="/budget">Budget</a></li>
      <li class="nav-tabs"><a href="/settings">Settings</a></li>
    </ul>
    
    <!-- needs on/off button -->
    <h1> Garden Sounds</h1>
    <h2 class="on-button"><a href="/TBD"> On </a></h2>
    <h2 class="off-button"><a href="/TBD"> Off </a></h2>

    <h1> Garden Music</h1>
    <h2 class="off-button"><a href="/TBD"> On </a></h2>
    <h2 class="off-button"><a href="/TBD"> Off </a></h2>

  </body>
</html>