<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Social</title>
  </head>
  <body>

    <ul class="nav nav-tabs nav-justified">
      <li class="tab-active nav-tabs"><a href="/">Garden</a></li>
      <li class="nav-tabs"><a href="/social">Social</a></li>
      <li class="nav-tabs"><a href="/budget">Budget</a></li>
      <li class="nav-tabs"><a href="/settings">Settings</a></li>
    </ul>
    
    <div class="garden-img">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Farm_garden_at_the_Hess_Homestead.jpg" alt="Your Garden" style="width:00px;height:0px">
    </div>

    <div class="container">
      <h2>Garden Status</h2>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Status</a></li>
        <li><a data-toggle="tab" href="#menu1">Quests</a></li>
        <li><a data-toggle="tab" href="#menu2">Items</a></li>
        <li><a data-toggle="tab" href="#menu3">Friends</a></li>
      </ul>

<!-- TEAM STATUS ------------------------------------- -->
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>Team Status</h3>
          <p>Under Attack: Hungry Goat!</p>
          <p>Player 3 did not meet their budget</p>
          <p>Hurry up and clear the goat</p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h2>Have you been keeping up with your budget?</h2>
          <p>Did you spend no more than $5 on boba today?</p>


          <script type="javascript">
          $(document).ready(function(){
    var obj = <%= daily %>;
  });
          </script>

          <button id="#yesDaily" onClick="getItem()">Yes</button>
<!-- QUESTONS ------------------------------------- -->
          <button><a href="/TBD">No</a></button>
          
          <p>Did you spend no more than $200 this week?</p>


          <button><a href="/TBD">Yes</a></button><button><a href="/TBD">No</a></button>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Garden Items</h3>
          <p>Check Out Your Garden:</p>
        
       
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Plant</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <!--Changed data to daily-->
            <!--if type == plant -->
            <% for(var i=1; i < 7; i+=1) { %>
             <tr>
              <td>
              <%= daily[i].title %>
              </td>
              <td>
              <img src="<%= daily[i].imageURL %>" alt="" border=3 height=100 width=100></img>
              </td>
            </tr>
            <% } %>
            <!-- <tr>
              <td>Lettuce</td>
              <td><img src="http://thegraphicsfairy.com/wp-content/uploads/2014/04/Public-Domain-Lettuce-Image-GraphicsFairy1.jpg" alt="" border=3 height=100 width=100></img></td>
            </tr> -->
            </tr> -->
          </tbody>
        </table>
        <!-- Add image of items, and increment instead of inject -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <!-- if type == fertilizer, inc -->        
              <th>Fertilizers: 2</th>
              <!-- if type == water, inc -->
              <th>Water: 2</th>
              <!-- if type == pesticide, inc -->
              <th>Pesticide: 3</th>
            </tr>
          </thead>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <!-- if type == pests, inc and minus plant item onclick-->
              <th>Pests: 1</th>
              <!-- if type == contaminant, inc, and minus random item onclick -->
              <th>Contaminants: 0</th>
            </tr>
          </thead>
        </table>
        </div>
        <div id="menu3" class="tab-pane fade">
          <h3>Friends</h3>
          <ul>
            <li>My Team</li>
            <ul>
              <li> Lettuce </li>
              <li> Watermelon </li>
              <li> Strawberry </li>
              <li> Mint </li>
            </ul>
            <li>My Friends</li>
            <ul>
              <li> Lettuce </li>
              <li> Watermelon </li>
              <li> Strawberry </li>
              <li> Mint </li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <script src="/public/JSON/dailyRewards.json"></script>
    <script src="js/javascript.js"></script>
  </body>
</html>