<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/Stylesheet.css"/>
    <title>We're working on it...</title>
  </head>
  <body>
    <ul class="nav nav-tabs nav-justified">
      <li class="tab-active nav-tabs"><a href="/">Garden</a></li>
      <li class="nav-tabs"><a href="/social">Social</a></li>
      <li class="nav-tabs"><a href="/budget">Budget</a></li>
      <li class="nav-tabs"><a href="/settings">Settings</a></li>
    </ul>
    <h1> Sorry about that! We're still working on this link. (: </h1>
  <img src="https://john.do/wp-content/uploads/2013/06/work-in-progress.png"/>

  </body>
</html>