body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#garden-img, #empty-garden {
	left: 50px;
	top: 100px;
	position: absolute;
	width: 1200px;
	height: 615px;
}

#newImg {
	max-width: 110px;
	max-height: 110px;
	position: absolute;
	top: 140px;
	left: 80px;
}

h1 {
	left: 30px;
	position: absolute;
}

h2{
	left:30px;
	top: 100px;
	position: absolute;
}